@if $INTERFACE == "SI" {
  #inpchat {
    background-image: unset;
    background-position-y: -8px;
    background-repeat: repeat-y;
    bottom: 0;
    display: inline;
    font-size: 12px;
    height: 17px;
    left: 90px;
    line-height: 17px;
    margin: 0;
    overflow-x: scroll;
    padding: 0;
    position: absolute;
    resize: none;
    scrollbar-width: none;
    top: unset !important;
    white-space: pre-wrap;
    width: 312px;
  }

  #lastmsg {
    pointer-events: none;
  }

  #inpchat.unfolded {
    background-position-y: 0;
    height: 150px;
    line-height: 25.6px;
    overflow-x: hidden;
    scrollbar-width: thin;
    white-space: pre-wrap;
  }

  #inpchat::-webkit-scrollbar {
    display: none;
  }

  #inpchat.unfolded::-webkit-scrollbar {
    display: block;
  }

  #bottombar {
    overflow: visible;
    z-index: 362;
  }

  #textarea-background {
    background-position-y: -98px;
    bottom: -84px;
    display: none;
    height: 318px;
    left: 171px;
    position: absolute;
    transform: rotate(90deg);
    width: 150px;
  }

  #textarea-background.unfolded {
    display: block;
  }

  #lagmeter,
  #botloc,
  #bchat,
  #pvpmode {
    z-index: 363;
  }
}

/* Panel */
.cpp-panel {
  animation: fade 0.5s;
  border-image: url(https://cronus.margonem.com/img/gui/tmp/window-frame.png) 32
    20 repeat;
  border-style: solid;
  border-width: 34px 13px 10px 13px;
  color: #000;
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/1n.png), auto;
  }
  left: calc(50% - 204px);
  pointer-events: auto;
  position: fixed;
  top: calc(50% - 150px);
  transition: opacity 0.35s ease-in-out;
  width: 380px;
  z-index: 499;
}

.cpp-panel > .background {
  background-color: #f1deaa;
  background-image: url(https://cronus.margonem.com/img/gui/content-redleather.jpg);
}

/* Panel - nav */
.cpp-panel > .header-label-positioner {
  left: 10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  text-align: center;
  top: -35px;
}

.cpp-panel .header-label {
  background: url(https://cronus.margonem.com/img/gui/dialogue/dialogi-naglowek.png);
  display: inline-block;
  height: 28px;
  margin: 0 auto;
  position: relative;
}

.cpp-panel .header-label > .right-decor,
.cpp-panel .header-label > .left-decor {
  background: url(https://cronus.margonem.com/img/gui/dialogue/dialogi.png) -38px -2px;
  height: 28px;
  left: -52px;
  position: absolute;
  top: 0;
  width: 52px;
}

.cpp-panel .header-label > .right-decor {
  background-position: -91px -2px;
  left: auto;
  right: -52px;
}

.cpp-panel .header-label > span {
  color: #f5f5dc;
  line-height: 28px;
  text-align: center;
}

.cpp-panel .panel-name {
  transition: width 0.35s ease-in-out;
}

.cpp-panel > .close-decor {
  background: url(https://cronus.margonem.com/img/gui/buttony.png?v=5) -380px -55px;
  height: 52px;
  pointer-events: none;
  position: absolute;
  right: -15px;
  top: -35px;
  width: 51px;
}

.cpp-panel .close-button {
  background: url(https://cronus.margonem.com/img/gui/buttony.png?v=5) -263px -79px;
  border: 0;
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/5n.png), pointer;
  } @else {
    cursor: pointer;
  }
  height: 22px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 3px;
  top: 3px;
  width: 22px;
}

.cpp-panel .close-button:hover {
  background-position: -286px -79px;
}

.cpp-panel .settings-box {
  align-items: center;
  display: grid;
  grid-template-columns: 50% auto;
  grid-template-rows: 50% auto;
  height: 75px;
  justify-items: center;
  padding-top: 10px;
}

.cpp-panel .setting-label {
  cursor: unset;
  height: 24px;
  position: relative;
  user-select: none;
  width: 155px;
}

.cpp-panel .setting-label-text {
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/5n.png), pointer;
  } @else {
    cursor: pointer;
  }
  left: 25px;
  line-height: 28px;
  position: relative;
}

.cpp-panel .setting-checkbox {
  display: none;
}

.cpp-panel .checkbox-outline {
  border: 2px solid #6e644b;
  border-radius: 2px;
  box-sizing: border-box;
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/5n.png), pointer;
  } @else {
    cursor: pointer;
  }
  display: inline-block;
  height: 18px;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 3px;
  width: 18px;
  z-index: 2;
}

.checkmark {
  display: none;
  height: 22px;
  left: -4px;
  pointer-events: none;
  position: relative;
  top: -2px;
  transform: rotate(45deg);
  width: 22px;
}

.checkmark-stem {
  background-color: #f1dfa8;
  height: 13px;
  left: 10px;
  position: absolute;
  top: 2px;
  width: 2px;
}

.checkmark-kick {
  background-color: #f1dfa8;
  height: 2px;
  left: 5px;
  position: absolute;
  top: 13px;
  width: 6px;
}

.cpp-panel .setting-checkbox:checked + .checkbox-outline {
  background-color: #6e644b;
}

.cpp-panel .setting-checkbox:checked + .checkbox-outline .checkmark {
  display: inline-block;
}

.cpp-panel .save-button {
  margin-right: 30px;
}

.cpp-panel .cancel-button {
  margin-left: 30px;
}

.cpp-panel .cancel-button:not(:hover) {
  background-image: linear-gradient(to top, #310b0b, #831f1f);
}

.cpp-panel .cancel-button:not(:hover)::before {
  box-shadow: inset 0 0 1px 1px #da6161a6;
}

.cpp-panel .hidden {
  display: none;
}

.cpp-panel .button {
  background-image: linear-gradient(to top, #12210d, #396b29);
  border: 1px solid #0c0d0d;
  border-radius: 4px;
  box-shadow:
    inset 0 0 1px 1px #cecece,
    inset 0 0 0 3px #0c0d0d;
  box-sizing: border-box;
  color: #e6d6bf;
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/5n.png), pointer;
  } @else {
    cursor: pointer;
  }
  display: inline-block;
  height: 42px;
  line-height: 34px;
  position: relative;
  width: 42px;
}

.cpp-panel.button.blue {
  background-image: linear-gradient(to top, #081522, #1d4873);
}

.cpp-panel .button.blue:not(:hover)::before {
  box-shadow: inset 0 0 1px 1px #5594d4a6;
}

.cpp-panel .button:before {
  backface-visibility: hidden;
  border-radius: 4px;
  bottom: 3px;
  box-shadow: inset 0 0 1px 1px #7ec568a6;
  content: "";
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
  transform: translateZ(0);
}

.cpp-panel .button:after {
  border-radius: 3px;
  bottom: 0;
  box-shadow: 0 1px 0 1px #0c0d0d;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cpp-panel .button:hover:before {
  box-shadow: inset 0 0 1px 1px #909090a6;
}

.cpp-panel .button:hover {
  background-image: linear-gradient(to top, #101010, #434343);
}

.cpp-panel .bottom-box {
  display: flex;
  height: 50px;
  justify-content: center;
}

#cpp-automute-panel .bottom-box {
  justify-content: space-evenly;
}

#cpp-automute-panel .text-button {
  justify-content: space-evenly;
}

.cpp-panel .text-button {
  border-radius: 6px;
  height: 28px;
  line-height: 24px;
  margin-top: 10px;
  text-align: center;
  width: 90px;
}

.cpp-panel .text-button::before,
.cpp-panel .text-button::after {
  content: unset;
}

/* Donation */
.cpp-panel .donate-button {
  background-image: linear-gradient(to top, #58310b, #daa520);
  bottom: 6px;
  box-shadow:
    inset 0 0 1px 1px #cecece,
    inset 0 0 0 3px #0c0d0d;
  color: black;
  font-size: 25px;
  height: 35px;
  padding: 2px 0 0 0;
  position: absolute;
  right: 5px;
  width: 35px;
}

.cpp-panel .donate-button span {
  position: relative;
  top: -2px;
}

.cpp-panel .donate-button:hover {
  color: pink;
}

.cpp-panel .donate-button::before {
  backface-visibility: hidden;
  border-radius: 4px;
  bottom: 3px;
  box-shadow: inset 0 0 1px 1px rgba(237, 177, 117, 0.65);
  content: "";
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
  transform: translateZ(0);
}

#cpp-test-button {
  bottom: 20px;
  left: 20px;
  position: absolute;
  width: 77px;
}

#cpp-automute-panel .top-box {
  text-align: center;
}

#cpp-automute-panel .donate-button {
  bottom: 3px;
  right: 0;
}

.restore-message-button {
  background: url(https://cronus.margonem.com/img/gui/buttony.png?v=5) -875px -85px;
  border: 0;
  display: block;
  height: 14px;
  padding: 0;
  width: 14px;
  @if $INTERFACE == "NI" {
    cursor: url(https://nerthus.margonem.pl/img/gui/cursor/5n.png), pointer;
  } @else {
    cursor: pointer;
  }
}

.restore-message-button-wrapper {
  bottom: 1px;
  height: 16px;
  position: absolute;
  right: 41px;
  width: 16px;
}

#bottombar .restore-message-button-wrapper {
  bottom: -1px;
  right: 81px;
}

.chat-input-wrapper
  .restore-message-button-wrapper
  + .chat-notification-wrapper {
  right: 61px;
}
